/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/*Главная*/
	.phones {
		right: 5px;
	}
	.logo img {
		width: 400px;
	}
	.floor2 ul {
		margin-top: 60px;
	}
	.first {
    	background: none;
    }
    .second {
    	background: none;
    }
    .katalog {
    	margin: 25px 0px 0px 35px;
    }
    .katalog a {
    	width: 236px;
		height: 176px;
    }
    .thirdFloor {
    	background: none;
    }
    .tablMob {
    	display: block;
		float: none!important;
		width: 250px;
		margin: 0px auto;
		height: 70px;
    }
    .floor4 .sectionHeader ul {
    	padding-left: 15px;
    }
    .floor5 {
    	background: none;
    }
    .lampsSecond {
    	width: 840px;
    }
    .Lamps {
    	width: 120px;
    	background-size: 122px !important;
    }
    .floor7 img {
    	width: 300px;
    }
    .monitor {
    	background: url(../img/monitor.png) no-repeat;
		width: 270px;
		height: 235px;
		background-size: cover;
		position: absolute;
		margin: -85px 0 0 0;
    }
    .lampssecond2 {
    	width: 850px;
    }
    footer {
    	padding-top: 40px;
    }
    footer ul span {
    	margin-right: 0;
    }
    .footerColumn2 {
    	width: 200px;
		margin-right: 0;
    }
    .footerColumn4 {
		padding-left: 0px;
		width: 150px;
    }
    .footerContPhone {
    	font-size: 16px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.logo {
		padding-top: 20px;
	}
	.logo img{
		width: 280px;
    	margin-bottom: 20px;
   		float: left;
	}
	.phones {
	    text-align: center;
	    width: 290px;
	    font-size: 17px;
	    top: 105px;
	    right: 20px;
	}
	nav {
	    width: 280px;
	    float: left;
	    margin-top: 50px;
	    text-align: center;
	}
	nav li {
	    float: left;
	    list-style: none;
	    margin-right: 16px;
	    width: 100%;
	    margin-bottom: 15px;
	}
	nav li a {
		font-size: 18px;
	}
	.maintext {
	    padding: 0;
	    text-align: center;
	    font-size: 18px;
	}
	.maintext h1  {
		margin-bottom: 20px;
    	font-size: 30px;
	}
	.sectionHeader span {
	    line-height: 60px;
	    font-size: 20px;
	}
	.sectionBlock {
    	padding: 0px;
    }
    .first {
    	background: none;
    }
    .infoItem {
	    width: 302px;
	    padding: 0px 0px 20px 100px;
	}
	.SBinfoItem {
	    width: 290px;
	    padding: 19px 100px 17px 0;
	   	margin-bottom: 0;
	}
	.second {
		background: none;
	}
	.floor2 ul {
	    margin-top: 20px;
	}
	.floor2 ul li {
	    font-size: 16px;
	}
	.informItems {
   		margin-top: 15px;
   	}
	.katalog {
	    margin: 50px 0px 0px 0px;
	    color: #fbfbfb;
	    text-align: center;
	}
	.katalog a {
	    width: 200px;
	    height: 150px;
	    margin-left: 37px;
	}
	.floor3 .sectionHeader span {
		line-height: 35px;
	}
	.thirdFloor {
		background: none;
	}
	.characterItem {
	    width: 200px;
	    float: left;
	    margin: 0 20px 20px 50px;
	}
	.floor4 .sectionHeader span {
	    float: left;
	    margin-top: 0;
	    margin-left: 60px;
	}
	.floor5 .informItems {
    	margin-top: 20px;
	}
	.floor5 .SBinfoItem {
    	padding: 10px 0px 10px 0;
    }
    .floor5{
    	background: none;
    }
    .floor7 ul {
	    color: #fbfbfb;
	    font-size: 25px;
	    margin-top: 35px;
	    width: 315px;
	}
	.floor7 {
		background: url(../img/floor7bgmob.jpg)no-repeat;
	}
	.sectionHeader ul {
	    float: left;
	    padding-bottom: 0;
	    float: left;
	    padding-left: 0;
	}
	footer {
		background: rgb(32, 49, 67);
	   	height: 686px;
	    padding-top:30px;
	}
	.topbar {
    	height: 90px;
    }
	.topbar img {
    	width: 200px;
    }
    .logoTopbar a {
    	width: 200px;
    	float: left;
    }
    .info {
	    height: 100%;
	    line-height: 27px;
	    margin: 0 auto;
	    width: 100%;
	}
	.punkt {
		margin-bottom: 10px;
	}
	.pagehead {
    	padding: 10px;
    }
    .catalogItem img {
	    width: 85px;
	    height: 88px;
	}
	.catalogItem span {
	    display: block;
	    width: 100%;
	    float: left;
	    margin-bottom: 20px;
	}
	.catalogItem h3 {
		font-size: 22px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}